[Desktop Entry]
Type=Application
Name=Nexpingdesk
GenericName=Keyboard and mouse sharing
Comment=One keyboard and mouse for all your computers
Exec=nexpingdesk
Icon=nexpingdesk
Terminal=false
Categories=Utility;Network;
Keywords=kvm;mouse;keyboard;share;clipboard;
StartupNotify=false
